curl_cffi>=0.7.0
rapidfuzz
beautifulsoup4
setuptools
wheel
Kekik
httpx
cloudscraper
selectolax
pydantic>=2.7.0
InquirerPy
yt-dlp
httpx[http2]
fastapi
uvicorn
uvloop; platform_system != "Windows"
httptools
gunicorn
user_agents
PyYAML
Jinja2
python-multipart
python-dotenv
pymongo
supabase
csscompressor
rjsmin
python-jose[cryptography]
pytest
pytest-asyncio